*~
*Makefile.in
*Makefile
*.gcno
*.gcda
doc/coverage/
aclocal.m4
autom4te.cache
autoscan.log
compile
configure
depcomp
missing
taler_config.h.in
install-sh
config.log
config.status
stamp-h1
taler_config.h
config.guess
config.sub
libtool
ltmain.sh
test-driver
m4/
GPATH
GRTAGS
GTAGS
*.swp
src/lib/test_exchange_api
doc/doxygen/doxygen_sqlite3.db
src/bank-lib/test_bank_api
src/exchange-lib/test_exchange_api
src/exchange/taler-exchange-aggregator
src/exchange-tools/taler-auditor-sign
src/exchange-tools/taler-exchange-dbinit
src/exchange-tools/taler-exchange-keycheck
src/exchange-tools/taler-exchange-keyup
src/exchange-tools/taler-exchange-reservemod
src/exchange-tools/taler-exchange-sepa
src/exchangedb/perf-exchangedb
src/json/test_json
src/wire/test_sepa_wireformat
src/pq/test_pq
src/util/test_amount
src/util/test_crypto
src/util/test_json
src/util/test_wireformats
doc/paper/llncs.cls
doc/paper/taler.bbl
doc/paper/taler.blg
