taler-exchange-dbinit
taler-exchange-keycheck
taler-exchange-keyup
taler-exchange-pursemod
taler-exchange-reservemod
taler-exchange-httpd
taler-exchange-wirewatch
test_taler_exchange_wirewatch-postgres
